<h1 data-flippd-phase="<%= @phase["pos"]%>"><%= @phase["title"] %></h1>
<p class="lead"><%= @phase["summary"] %></p>

<div id="topics" class="row">
  <% @phase["topics"].each_with_index do |topic, index| %>
  <div class="col-md-6" style="padding-top: 15px;">
    <h4><%=index+1%>. <%=topic["title"]%></h4>

    <p>
      <%= topic["summary"] %>
    </p>

    <ul>
    <% topic["videos"].each do |video| %>
        <li>
          <a href="/videos/<%=video["pos"]%>"><%=video["title"]%></a>
        </li>
    <% end %>
    <% topic["quizzes"].each do |quiz| %>
        <li>
          <a href="/quizzes/<%=quiz["pos"]%>"><%=quiz["title"]%></a>
        </li>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>
