<div class="row">
    <div class="col-xs-6 col-md-6">
        <%if @previous %>
            <h5>
                <a href="/<%=@previous["type"]%>/<%=@previous["pos"]%>">
                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                    <%=@previous["title"]%>
                </a>
            </h5>
        <% end %>
    </div>
    <div class="col-xs-6 col-md-6" style="text-align: right;">
        <% if @next %>
            <h5>
                <a href="/<%=@next["type"]%>/<%=@next["pos"]%>">
                    <%=@next["title"]%>
                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true"</span>
                </a>
            </h5>
        <% end %>
    </div>
</div>
<h1 data-flippd-phase="<%= @phase["id"]%>"><%= @quiz["title"] %></h1>
<form action="/quizzes/<%= @quiz["pos"] %>" method="post">
  <% @quiz["questions"].each_with_index do |question, question_num| %>
    <div class="form-group">
      <p><%= question["question"] %></p>

      <% question["options"].each do |option| %>
        <div class="radio">
          <label>
            <input type="radio" name="post[<%= question_num %>]" value="<%= option["letter"] %>">
            <%= option["text"] %>
          </label>
        </div>
      <% end %>

    </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
