<h1 data-flippd-phase="<%= @phase["id"]%>"><%= @quiz["title"] %></h1>

<form>
  <% @quiz["questions"].each do |question| %>
    <div class="form-group">
      <p><%= question["question"] %></p>

      <% question["options"].each_with_index do |option, question_num| %>
        <div class="radio">
          <label>
            <input type="radio" name="<%= question_num %>" value="<%= option["letter"] %>">
            <%= option["text"] %>
          </label>
        </div>
      <% end %>

    </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
