<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @previous %>
      <h5>
        <a href="/<%=@previous["type"]%>/<%=@previous["pos"]%>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@previous["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @next %>
      <h5>
        <a href="/<%=@next["type"]%>/<%=@next["pos"]%>">
          <%=@next["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @phase["pos"]%>"><%= @video["title"] %></h1>
<p class="lead"><%= @video["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<% if @video["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @video["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
	</ul>
  </div>
  <div class="col-xs-6 col-md-6">
    <% if @user_id != nil %>
        <div class="checkbox" style="float: right;">
          <label>
            <input type="checkbox" id="watched_video" onchange="watchedVideo(this);"
            <% if @video_watched %>
            	checked disabled
            <% end %>
            > Watched video
          </label>
        </div>
      </div>
    <% end %>
</div>
<% end %>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @video["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
  
  //Code to handle the 'watched video' checkbox
  //Code to handle the 'watched video' checkbox
  //This function is called on toggle of the checkbox
  function watchedVideo(checkbox)
  {
    //AJAX request to mark the video as watched and check for badges
    $.ajax({
      type: 'POST',
      url: '/videos/<%= @video["id"] %>',
      success: function(data)
      {
      	//Set the checkbox as disabled so we can't change it
      	$(checkbox).attr("disabled", true);
      	
      	//If we have notifications to display then do an AJAX call do get the HTML to display
      	if (data > 0)
      	{
      		$.ajax({
			  type: 'GET',
			  url: '/notification_alert',
			  success: function(data)
			  {
				$('#notification').html(data);
			  }
			})
      	}
      }
    })
  }
</script>
