<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @previous_video %>
      <h5>
        <a href="/videos/<%=@previous_video["id"]%>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@previous_video["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @next_video %>
      <h5>
        <a href="/videos/<%=@next_video["id"]%>">
          <%=@next_video["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @phase["id"]%>"><%= @video["title"] %></h1>
<p class="lead"><%= @video["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<div id="comments" class="row">

  <div class="col-md-8 col-md-offset-2">

    <p>&nbsp;</p>
    
    <% if @user %>
    <form action="/comment/new" method="POST">
      <input type="hidden" name="videoId" value="<%= @video["id"] %>" />
      <textarea name="text" rows="2" placeholder="Write a comment"
        class="form-control"></textarea>
      <button type="submit" class="btn btn-standard btn-block">
          Comment
      </button>
    </form>

    <% else %>
      <div class="alert alert-info">
        <i class="fa fa-fw fa-info-sign"></i>
        Please log in to add a comment to this video.
      </div>

    <% end %>

    <% @comments.each do |comment| %>
      <div class="row" style="padding: 5px; border: 1px gray solid; border-radius: 3px; margin-bottom: 5px;">

        <button style="btn btn-xs btn-primary pull-right">
          Reply to this comment
        </button>

        <strong><%=comment.user.name%></strong>

        <p><%=comment.text%></p>

        <p class="text-muted">
          <%comment.commentTime%>

          <% if comment.lastEditTime %>
            <strong>
              Last edited at <%=comment.lastEditTime%>
              by <%=comment.lastEditUser.name%>
            </strong>
          <% end %>
        </p>

      </div>
    <% end %>

  </div>
</div>

<% if @video["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @video["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @video["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
