<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @previous %>
      <h5>
        <a href="/<%=@previous["type"]%>/<%=@previous["pos"]%>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@previous["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @next %>
      <h5>
        <a href="/<%=@next["type"]%>/<%=@next["pos"]%>">
          <%=@next["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @phase["pos"]%>"><%= @video["title"] %></h1>
<p class="lead"><%= @video["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<div id="comments-section" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-12 col-md-12">
    <h4>Comments</h4>

    <ul class="list-group">
      <% @comments.each do |comment|  %>
        <li data-comment-id="<%=comment["id"]%>" class="list-group-item">
          <% if @settings['voting_on'] == "true" %>
          <div class="col-xs-1 col-md-1 comment-voting-container">
            <form class="comment-upvote-form" method="post" action="/upvote_comment/<%=comment["id"]%>">
              <span <% if @vote_states[comment["id"]] %>
                style="color:green;"
              <% end %> onclick="submitParent(this);" class="glyphicon glyphicon-arrow-up"></span>
            </form>
            <strong><% if comment["points"].between?(0, 9)%>&nbsp;<% end %><%=comment["points"].to_s%></strong>
            <form class="comment-downvote-form" method="post" action="/downvote_comment/<%=comment["id"]%>">
              <span <% if @vote_states[comment["id"]] == false %>
                style="color:red;"
              <% end %> onclick="submitParent(this);" class="glyphicon glyphicon-arrow-down"></span>
            </form>
          </div>
          <% end %>
          <p class="list-group-item-text"><%=comment["body"]%></p>
          </br>
          <strong>Posted by <%=comment.user["name"]%> on <%=comment["created"].strftime('%Y-%m-%d')%>.</strong>
          <% if @settings['replies_on'] == "true" %>
            <a onclick="replyComment(this);" class="comment-reply-link">Reply</a>
          <% end %>
          <% if @user == comment.user %>
            <form id="comment-remove-form" method="post" action="/remove_comment/<%=comment["id"]%>">
               - <a onclick="submitParent(this);" class="comment-remove-link">Remove</a>
            </form>
          <% end %>
          <ul class="list-group" style="margin: 10px 0 0 0;">
            <% @replies[comment["id"]].each do |reply| %>
              <li data-comment-id="<%=reply["id"]%>" class="list-group-item">
                <% if @settings['voting_on'] == "true" %>
                <div class="col-xs-1 col-md-1 comment-voting-container">
                  <form class="comment-upvote-form" method="post" action="/upvote_comment/<%=reply["id"]%>">
                    <span <% if @vote_states[reply["id"]] %>
                      style="color:green;"
                    <% end %> onclick="submitParent(this);" class="glyphicon glyphicon-arrow-up"></span>
                  </form>
                  <strong><% if reply["points"].between?(0, 9)%>&nbsp;<% end %><%=reply["points"].to_s%></strong>
                  <form class="comment-downvote-form" method="post" action="/downvote_comment/<%=reply["id"]%>">
                    <span <% if @vote_states[reply["id"]] == false %>
                      style="color:red;"
                    <% end %> onclick="submitParent(this);" class="glyphicon glyphicon-arrow-down"></span>
                  </form>
                </div>
                <% end %>
                <p class="list-group-item-text"><%=reply["body"]%></p>
                </br>
                <strong>Posted by <%=reply.user["name"]%> on <%=reply["created"].strftime('%Y-%m-%d')%>.</strong>
                <% if @user == reply.user %>
                  <form id="comment-remove-form" method="post" action="/remove_comment/<%=reply["id"]%>">
                    <a onclick="submitParent(this);" class="comment-remove-link">Remove</a>
                  </form>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
	<% if @user != nil %>
    <form id="comment-post-form" method="post" action="/post_comment/<%=@video["id"]%>">
      <div class="form-group">
        <label for="comment-textarea">Add a comment</label>
        <textarea class="form-control" name="body" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	<% end %>
  </div>
</div>

<% if @video["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @video["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
	</ul>
  </div>
  <div class="col-xs-6 col-md-6">
    <% if @user_id != nil %>
        <div class="checkbox" style="float: right;">
          <label>
            <input type="checkbox" id="watched_video" onchange="watchedVideo(this);"
            <% if @video_watched %>
            	checked disabled
            <% end %>
            > Watched video
          </label>
        </div>
      </div>
    <% end %>
</div>
<% end %>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @video["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
  
  //Code to handle the 'watched video' checkbox
  //Code to handle the 'watched video' checkbox
  //This function is called on toggle of the checkbox
  function watchedVideo(checkbox)
  {
    //AJAX request to mark the video as watched and check for badges
    $.ajax({
      type: 'POST',
      url: '/videos/<%= @video["id"] %>',
      success: function(data)
      {
      	//Set the checkbox as disabled so we can't change it
      	$(checkbox).attr("disabled", true);
      	
      	//If we have notifications to display then do an AJAX call do get the HTML to display
      	if (data > 0)
      	{
      		$.ajax({
			  type: 'GET',
			  url: '/notification_alert',
			  success: function(data)
			  {
				$('#notification').html(data);
			  }
			})
      	}
      }
    });
  }

  function replyComment(clicked)
  {
    var form = $('#comment-post-form');
    var replyID = $(clicked).parent().attr('data-comment-id');
    form.find('label').remove();
    form.append('<input type="text" name="replyID" style="display: none;" value="' + replyID + '">');
    $(clicked).parent().append(form);
  }

  function submitParent(clicked)
  {
    $(clicked).parent().submit();
  }
</script>
